<div class="flex h-[80vh] w-full">
  <form
    [formGroup]="signInForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col h-full w-full items-center justify-center">
    <div
      class="flex flex-col border border-zinc-600 p-8 rounded-lg justify-center items-center gap-y-2">
      <h2>Sign Up</h2>
      <div class="flex flex-col">
        <label class="font-semibold" for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          class="bg-transparent rounded-md outline-none border border-zinc-600 p-2"
          type="email"
          placeholder="Your email" />
      </div>
      <div>
        <button
          type="submit"
          class="font-semibold bg-black rounded-md p-2"
          [disabled]="loading">
          {{ loading ? 'Loading' : 'Verify email' }}
        </button>
      </div>
    </div>
  </form>
</div>
